.class1{
background-color: blue;
padding: 5px 10px;
}

.class2{
background-color: chartreuse;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
}


.class3{
background-color: darkred;
padding: 5px 10px;
}